.cafe-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cafe-main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cafe-header .mdl-layout__header-row {
    padding-left: 40px;
}

.cafe-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.cafe-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.cafe-layout.is-small-screen .cafe-content {
    padding: 40px 28px;
}

.cafe-content h3 {
    margin-top: 48px;
}

.cafe-footer {
    padding-left: 40px;
}

.cafe-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.cafe-crumbs a {
    color : #9e9e9e;
}
.cafe-header a.is-active {
    text-decoration: underline;
}


.cafe .mdl-layout__header-row {
  padding-left: 40px;
}
.cafe .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.cafe .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cafe .mdl-card > * {
  height: auto;
}
.cafe .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.cafe.cafe .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.cafe .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.cafe .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.cafe .mdl-card__actions a:hover,
.cafe .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.cafe .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.cafe #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.cafe .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.cafe section.section--center {
  max-width: 860px;
}
.cafe #features section.section--center {
  max-width: 620px;
}
.cafe section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cafe section > .section__play-btn {
  min-height: 200px;
}
.cafe section > header > .material-icons {
  font-size: 3rem;
}
.cafe section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.cafe section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.cafe section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.cafe section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.cafe section .section__text a {
  text-decoration: none;
}
.cafe section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.cafe .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.cafe-site-title {
    text-decoration: none;
}

.cafe-color--blue {
    background-color: #3F51B5;
}

div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; background-color: #ffffff; color: #1f1c1b; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; background-color: #ffffff; color: #a0a0a0; border-right: 1px solid #a0a0a0; }
td.sourceCode { padding-left: 5px; }
pre, code { color: #1f1c1b; background-color: #ffffff; }
code > span.kw { color: #1f1c1b; font-weight: bold; } /* Keyword */
code > span.dt { color: #0057ae; } /* DataType */
code > span.dv { color: #b08000; } /* DecVal */
code > span.bn { color: #b08000; } /* BaseN */
code > span.fl { color: #b08000; } /* Float */
code > span.cn { color: #aa5500; } /* Constant */
code > span.ch { color: #924c9d; } /* Char */
code > span.sc { color: #3daee9; } /* SpecialChar */
code > span.st { color: #bf0303; } /* String */
code > span.vs { color: #bf0303; } /* VerbatimString */
code > span.ss { color: #ff5500; } /* SpecialString */
code > span.im { color: #ff5500; } /* Import */
code > span.co { color: #898887; } /* Comment */
code > span.do { color: #607880; } /* Documentation */
code > span.an { color: #ca60ca; } /* Annotation */
code > span.cv { color: #0095ff; } /* CommentVar */
code > span.ot { color: #006e28; } /* Other */
code > span.fu { color: #644a9b; } /* Function */
code > span.va { color: #0057ae; } /* Variable */
code > span.cf { color: #1f1c1b; font-weight: bold; } /* ControlFlow */
code > span.op { color: #1f1c1b; } /* Operator */
code > span.bu { color: #644a9b; font-weight: bold; } /* BuiltIn */
code > span.ex { color: #0095ff; font-weight: bold; } /* Extension */
code > span.pp { color: #006e28; } /* Preprocessor */
code > span.at { color: #0057ae; } /* Attribute */
code > span.re { color: #0057ae; } /* RegionMarker */
code > span.in { color: #b08000; } /* Information */
code > span.wa { color: #bf0303; } /* Warning */
code > span.al { color: #bf0303; font-weight: bold; } /* Alert */
code > span.er { color: #bf0303; text-decoration: underline; } /* Error */
code > span. { color: #1f1c1b; } /* Normal */
  
