<header class="cafe-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
        <a class="mdl-color-text--grey-800 cafe-site-title" href="/"><span class="mdl-layout-title">(&lambda;Haskell . Cafe)</span></a>
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="/">Home</a>
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="/archive.html">Archive</a>
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="/about.html">About</a>
        </nav>
    </div>
</header>
